<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<body>
<main>

    <!--Background animation-->


    <div class="area">
        <ul class="squares">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <section>
    <h1 class= "simplicate-annimation">
        <span class="end-letters">S</span><span class="middle-letters">implicate</span>
    </h1>
    </section>
    

    <section class="container">
        <div class="glass-box">
          <h2>Nieuwste Projecten  Week 26</h2>
       
            <article>
            <h2>datum kalender</h2>
              <h3>data project naam</h3>
              <p>info</p>
            </article>
        

         
            <article>
                <h2>datum kalender</h2>
                <h3>data project naam</h3>
                <p>info</p>
            </article>
      

 
            <article>
                <h2>datum kalender</h2>
                <h3>data project naam</h3>
                <p>info</p>
            </article>
       


        
            <article>
                <h2>datum kalender</h2>
                <h3>data project naam</h3>
                <p>info</p>
            </article>
      
        </div>
        </section>
    </main>
      
      






</body>


</main>
